<h2>My page</h2>

<div class="alert alert-secondary">
  <h4 class="alert-heading">
    Account infomation
  </h4>
  <hr>
  <table class="table table-borderless">
    <tbody>
      <tr>
        <th scope="row" style="width: 35%;">Account name</th>
        <td style="width: 75%;"><%= current_user.name %></td>
      </tr>
      <tr>
        <th scope="row">Mail adress</th>
        <td><%= current_user.email %></td>
      </tr>
      <tr>
        <th scope="row">Possession money</th>
        <td><%= current_user.money %> yen</td>
      </tr>
    </tbody>
  </table>
</div>

<% if @payments.present? %>
  <div class="alert">
    <h4 class="alert-heading">
      Products purchase list
    </h4>
    <hr>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" style="width: 50%;">Name</th>
          <th scope="col" style="width: 20%;">Count</th>
          <th scope="col" style="width: 20%;">Total</th>
          <th scope="col" style="width: 10%;"></th>
        </tr>
      </thead>
      <tbody>
        <%= render @payments %>
      </tbody>
    </table>
  </div>
<% end %>