<h2><%= t(".title") %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= costom_devise_error_messages %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, maxlength: 50,
      placeholder: User.human_attribute_name(:name), class: "form-control", required: true %>
    <small class="form-text text-muted"><%= t(".form.name.info") %></small>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
      placeholder: User.human_attribute_name(:email),class: "form-control", required: true %>
    <small class="form-text text-muted"><%= t(".form.email.info") %></small>
  </div>

  <div class="form-group">
    <%= f.label :password do %>
      <%= User.human_attribute_name(:password) %>
      <% if @minimum_password_length %>
        <%= t(".form.password.length", length: @minimum_password_length) %>
      <% end %>
    <% end %>

    <%= f.password_field :password, autocomplete: "off",
      placeholder: User.human_attribute_name(:password), class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off",
      placeholder: User.human_attribute_name(:password_confirmation), class: "form-control", required: true %>
  </div>

  <%= f.submit t(".form.submit"), class: "btn btn-primary" %>
<% end %>

<%#= render "devise/shared/links" %>
