<h2><%= t(".title") %></h2>

<%= form_for @pay_code do |f| %>
  <div class="form-group">
    <%= f.label :key do %>
      <%= PayCode.human_attribute_name(:key) %> <%= t(".form.length", length: 16) %>
    <% end %>
    <%= f.text_field :key, maxlength: 16, autocomplete: "off",
      placeholder: PayCode.human_attribute_name(:key), class: "form-control", required: true %>
  </div>

  <%= f.submit t(".form.submit"), class: "btn btn-primary" %>
<% end %>