<h2><%= t(".title") %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
      placeholder: User.human_attribute_name(:email), class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off",
      placeholder: User.human_attribute_name(:password), class: "form-control", required: true %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group form-check">
      <%= f.check_box :remember_me, class: "form-check-input" %>
      <%= f.label :remember_me ,class: "form-check-label" %>
    </div>
  <% end -%>

  <%= f.submit t(".form.submit"), class: "btn btn-primary"%>
<% end %>

<%#= render "devise/shared/links" %>
