<tr>
  <th scope="row">
    <%= payment.good.name %>
  </th>
  <td>
    <%= payment.number %>
  </td>
  <td>
    <%= payment.sum %>
  </td>
  <td>
    <%= link_to t(".show_link"), payment, class: "btn btn-sm btn-primary" %>
  </td>
</tr>