<h2><%= t(".title") %></h2>

<div class="row">
  <div class="col-md-6">
    <div class="alert alert-secondary">
      <h4 class="alert-heading">
        <%= @payment.good.name %>
      </h4>
      <hr>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td scope="row" class="pt-0 pb-0" style="width: 50%;"><%= t(".price") %></td>
            <td class="pt-0 pb-0" style="width: 50%;"><%= @payment.good.price %> yen</td>
          </tr>
          <tr>
            <td scope="row" class="pt-0 pb-0"><%= t(".number") %></td>
            <td class="pt-0 pb-0"><%= @payment.number %> pieces</td>
          </tr>
        </tbody>
      </table>
      <hr>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td scope="row" class="pt-0 pb-0" style="width: 50%;"><%= t(".total") %></td>
            <td class="pt-0 pb-0" style="width: 50%;"><%= @payment.sum %> yen</td>
          </tr>
        </tbody>
      </table>
      <hr>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td scope="row" class="pt-0 pb-0" style="width: 50%;"><%= t(".purchase_at") %></td>
            <td class="pt-0 pb-0" style="width: 50%;"><%= @payment.created_at %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>