<div class="col-md-6">
  <div class="alert alert-secondary">
    <h4 class="alert-heading">
      <%= object.name %>
      <% if controller.action_name == "index" %>
        <%= link_to t(".show_link"), object, class: "float-right btn btn-primary btn-sm" %>
      <% end %>
    </h4>
    <hr>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td scope="row" class="pt-0 pb-0" style="width: 50%;"> Product value</td>
          <td class="pt-0 pb-0" style="width: 50%;"><%= object.price %> yen</td>
        </tr>
        <tr>
          <td scope="row" class="pt-0 pb-0">Stock</td>
          <td class="pt-0 pb-0"><%= object.number %> pieces</td>
        </tr>
      </tbody>
    </table>
    <% if controller.action_name == "show" %>
      <hr>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td scope="row" class="pt-0 pb-0" style="width: 50%;"><%= User.human_attribute_name(:money) %></td>
            <td class="pt-0 pb-0" style="width: 50%;"><%= current_user.money %> yen</td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>