<h2><%= t(".title") %></h2>

<div class="row">
  <%= render 'goods/good_info', object: @good %>
</div>

<div class="row">
  <div class="col-md-6">
    <%= form_for @payment do |f| %>
      <%= render 'layouts/error_messages', object: @payment %>

      <%= f.hidden_field :good_id, value: @good.id %>

      <div class="form-group">
        <%= f.label :number do %>
          <%= Payment.human_attribute_name(:number) %> <%= t(".form.min_max", min: 1, max: @max) %>
        <% end %>
        <%= f.number_field :number, value: '', span: 1, min: 1, max: @max,
          placeholder: Payment.human_attribute_name(:number), class: "form-control", required: true %>
      </div>

      <%= f.submit t(".form.submit.link"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
