<% if object.errors.any? %>
  <div id="error_explanation">
    <% object.errors.full_messages.each do |message| %>
      <div class="alert alert-danger"><%= message %></div>
    <% end %>
  </div>
<% end %>