<% flash.each do |message_type, message| %>
  <% if message_type == 'timedout' %>
    <% next %>
  <% end %>
  <div class="alert alert-<%= alert_class(message_type) %> alert-dismissible fade show" role="alert" id='alert-offline'>
    <%= message %>
  </div>
<% end %>