<%# header %>
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <%= link_to t('header.logo'), root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav header-menu">
      <%= default_link_nav t('header.top_page'), root_path %>
      <% if user_signed_in? %>
        <%= default_link_nav t('header.mypage'),        mypage_path %>
        <%= default_link_nav t('header.goods'),         goods_path %>
        <%= default_link_nav t('header.pay_code'),      new_pay_code_path %>
        <%= logout_link_nav  t('header.sign_out.link'), destroy_user_session_path, t('header.sign_out.confirm') %>
      <% else %>
        <%= default_link_nav t('header.log_in'),        new_user_session_path %>
        <%= default_link_nav t('header.registration'),  new_user_registration_path %>
      <% end %>
    </div>
  </div>
</nav>
