<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= t("head.title") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <%= render 'layouts/flash' %>
      <%= yield %>
      <hr>
      <p>
        <%= locale_url_for('ja', "日本語") %> | <%= locale_url_for('en', "English") %>
      </p>
    </div>
  </body>
  <%= render "layouts/script" %>
</html>
